!!! 5
%html
  %head		
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %meta{:name => 'description', :content => ''}
    %meta{:name => 'keywords', :content => ''}
    = csrf_meta_tag
    %title
      #{controller.action_name}
    = stylesheet_link_tag 'global','layout', :media => :all
    /
      [if IE 7]>
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
      = stylesheet_link_tag 'print', :media => 'print'
      <![endif]		
  %body
    - if flash[:notice] != nil
      %p{:class => "flash_notice"}
        = flash[:notice]
    - elsif flash[:error] != nil
      %p{:class => "flash_error"}
        = flash[:error]
    =yield
    = javascript_include_tag "jquery-1.4.2.min.js"
    / = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "jquery-ui-1.8.custom.min.js"
    / = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"
    = javascript_include_tag 'rails'
    = javascript_include_tag "init.js"